footer {
  padding: 30px 0;
  background-color: var(--footer-bg);
}

.footer {

  &__box {
    display: flex;
  }

  &__text {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__info {
    display: flex;
    grid-gap: 12px;
  }


  &__about {
    max-width: 320px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */


    /* MRT App / Neutral 01 */

    color: #626687;

    opacity: 0.75;
  }
  &__social {
    display: flex;
    flex-direction: row;
    grid-gap: 24px;
  }
}


