footer {
  padding: 30px 0;
  background-color: var(--footer-bg);
}

.footer {

  &-box {
    display: flex;
    justify-content: space-between;

  }

  &__text {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__info {
    display: flex;
    grid-gap: 12px;
  }


  &__about {
    max-width: 320px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */


    /* MRT App / Neutral 01 */

    color: #626687;

    opacity: 0.75;
  }
  &__social {
    display: flex;
    flex-direction: row;
    grid-gap: 24px;
  }
}

.nav-item {
  max-height: 150px;
}

.accordion {

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 18px;
    padding-top: 20px;
  }
  &__main {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: rgba(var(--cl-k),1.0);
  }

  &__secondary {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: rgba(var(--cl-g),1.0);
  }
}

