.index-first {
    padding-top: calc(clamp(10px, 0vw, 10px) + var(--header-height));
    &__box {
        display: flex;
    }
}
.find {
    max-width: 500px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    grid-gap: 24px;

    &-title {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        text-transform: capitalize;
        color: rgba(var(--cl-c),1.0);
    }

    &-about {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #626687;
        opacity: 0.75;
    }

    &-logos {
        display: flex;
        align-items: center;
        grid-gap: 32px;
    }
}

.keywords {
    color: transparent;
    -webkit-text-stroke: 1px #1B1C57;;
}

.findReview {
    position: relative;
    overflow: hidden;
    &-list {
        overflow-x: auto;
        position: absolute;
        display: flex;
        align-items: center;
        grid-gap: 16px;
        bottom: 50px;
        left: 50px;
    }

    &-item {
        min-width: fit-content;
        display: flex;
        align-items: center;
        grid-gap: 16px;
        padding: 24px;
        background: #FFFFFF;
        box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
        border-radius: 32px;
        max-height: 104px;
    }

    &-about {
        display: flex;
        flex-direction: column;
        grid-gap: 2px;
        white-space: nowrap;
    }

    &-counter {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C57;
    }

    &-text {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #68799F;
    }
}