.index-fifth {
    padding-top: 120px;
}

.house-commentary {
    display: flex;
    grid-gap: 50px;
    padding-top: 40px;
    
    &__list {
        display: flex;
        flex-direction: column;
        grid-gap: 40px;
    }
}
