<footer>
  <div class="footer">
    <div class="container">
      <div class="footer-box">
        <div class="footer__text">
          <h2 class="footer__info"><svg width='36' height='36'>
              <use href='img/sprite/sprite.svg#triangels'></use>
            </svg>Hounter</h2>
          <p class="footer__about">We provide information about properties such as houses, villas and apartments to help
            people find their dream home</p>
          <ul class="footer__social">
            <li><svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#facebook'></use>
              </svg></li>
            <li><svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#twitter'></use>
              </svg></li>
            <li><svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#instagram'></use>
              </svg></li>
          </ul>
        </div>
        <div class="footer__nav">
          <ul class='accordion' data-single='true' data-breakpoint='576' accordion-init>
            <li class='accordion__item'>
              <button class='accordion__btn accordion__main' data-id='1'>Property</button>
              <div class='accordion__content nav-item' data-content='1'>
                <ul class="nav-list accordion__list">
                  <li class="nav-item accordion__secondary">House</li>
                  <li class="nav-item accordion__secondary">Apartment</li>
                  <li class="nav-item accordion__secondary">Villa</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <ul class='accordion' data-single='true' data-breakpoint='576' accordion-init>
            <li class='accordion__item'>
              <button class='accordion__btn accordion__main' data-id='1'>Article</button>
              <div class='accordion__content nav-item' data-content='1'>
                <ul class="nav-list accordion__list">
                  <li class="nav-item accordion__secondary">New Article</li>
                  <li class="nav-item accordion__secondary">Popular Article</li>
                  <li class="nav-item accordion__secondary">Most Read</li>
                  <li class="nav-item accordion__secondary">Tips & Tricks</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer__nav">
          <ul class='accordion' data-single='true' data-breakpoint='576' accordion-init>
            <li class='accordion__item'>
              <button class='accordion__btn accordion__main' data-id='1'>Contact</button>
              <div class='accordion__content nav-item' data-content='1'>
                <ul class="nav-list accordion__list">
                  <li class="nav-item accordion__secondary">2464 Royal Ln. Mesa, New Jersey 45463</li>
                  <li class="nav-item accordion__secondary">(671) 555-0110</li>
                  <li class="nav-item accordion__secondary">info@hounter.com</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>