<header>
  <div class="container">
    <div class="header">
      <div class="header-box">
        <div class="header__logo">
          <h2 class="footer__info"><svg width='36' height='36'>
            <use href='img/sprite/sprite.svg#triangels'></use>
          </svg>Hounter</h2>
        </div>
        <div class="header__info">
          <ul class="header-nav">
            <li class="header-nav__item"><a href="#">About Us</a></li>
            <li class="header-nav__item"><a href="#">Article</a></li>
            <li class="header-nav__item"><a href="#">Property</a></li>
          </ul>
          <button class="header-nav__btn">Sign Up!</button>
        </div>
      </div>
    </div>
  </div>
</header>