.review {

    &-img {
        position: relative;
    }

    &-box {

        position: absolute;
        top: 50%;
        left: 5%;
        padding: 32px;
        width: 610px;
        background-color: rgba(var(--cl-a),1.0);
        border-radius: 16px;
    }

    &-title {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-transform: capitalize;
        color: rgba(var(--cl-c),1.0);
    }

    &-about {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(var(--cl-f),1.0);
        opacity: 0.75;
    }
}