.review {
    position: relative;
    width: 740px;
    height: 505px;

    &-img {
        position: relative;
    }

    &-box {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
        padding: 32px;
        width: 610px;
        background-color: rgba(var(--cl-a),1.0);
        box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
        border-radius: 16px;   
    }

    &-comment {
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
    }

    &-title {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-transform: capitalize;
        color: rgba(var(--cl-c),1.0);
    }

    &-about {
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(var(--cl-f),1.0);
        opacity: 0.75;
    }

    &-points {
        position: absolute;
        right: 32px;
        bottom: 30px;
        display: flex;
        align-items: center;
        grid-gap: 16px;

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color:rgba(var(--cl-d),1.0);
    }
}